#footer {
  padding-top: 78px;
  background-color: #f9f9fb;
  font-family: "Mulish";
  .footer__wrapper {
    .footer__columns {
      display: flex;
      justify-content: space-between;
      margin-bottom: 77px;
      .footer__columns-left {
        .footer__left-img__box {
          margin-bottom: 26px;
          .footer__left-img {
          }
        }

        .footer__columns-left__descr {
          margin-bottom: 55px;
          max-width: 298px;
          font-family: "Mulish";
          font-weight: 300;
          font-size: 18px;
          color: #848484;
        }
        .footer__columns-left__text {
          font-family: "Mulish";
          font-weight: 300;
          font-size: 17px;
          color: #848484;
        }
      }

      .footer__columns-right {
        display: flex;
        justify-content: start;
        align-items: start;
        .footer__columns-right__list {
          &:not(:last-child) {
            margin-right: 158px;
          }
          .footer__right-list__title {
            list-style: none;
            font-weight: 700;
            font-size: 19px;
            color: #000000;
            margin-bottom: 35px;
          }
          .footer__right-list__item {
            font-weight: 300;
            font-size: 18px;
            color: #848484;
            list-style: none;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 25px;
            }
          }
        }
      }
    }

    .footer__separator {
      margin-bottom: 30px;
      min-width: 1219px;
      height: 0.6px;
      background-color: #c4c4c4;
    }

    .footer__icons-img__box {
      max-width: 249px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      .footer__icons-img {
        &:not(:last-child) {
          cursor: pointer;
          margin-right: 35px;
        }
      }
    }
  }
}
