#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  .header__logo-img__box {
    .header__logo-img {
      cursor: pointer;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__right-menu {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-right: 34px;
      .header__right-menu__list {
        display: flex;
        justify-content: start;
        align-items: center;
        .header__menu-list__item {
          list-style: none;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
          color: #b8becd;
          cursor: pointer;
          transition: all 0.15s linear;
          &:hover {
            color: #202336;
          }
          &:not(:last-child) {
            margin-right: 34px;
          }
        }
      }
    }

    .header__right-buttons {
      .header__right-buttons__button {
        padding: 12px 46px;
        margin: 18px;
        color: #fb8f1d;
        font-size: 15px;
        font-weight: 500;
        font-family: "Inter";
        border: 2px solid #fb8f1d;
        border-radius: 8px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.15s ease;
        &:hover {
          color: #fff;
          background-color: #fb8f1d;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
