*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
span {
  padding: 0;
  margin: 0;
  display: block;
}

body {
  background-color: #fff;
  .wrapper {
    padding: 35px 190px 32px 190px;
    max-width: 1600px;
    margin: 0 auto;

    @import "header.scss";
    @import "main.scss";
    @import "footer.scss";
  }
}
